# Python cache
__pycache__/

# Tests cache
.pytest_cache/

# Vscode settings
.vscode/

#Ignore logfiles
*.log

# Ignore enviromental vars (contains private information)
.env

# Ignore the database file, should stay private
users.db

# Ignore custom user-config file
config.yaml

# Coverage.py execution data
.coverage
