[Unit]
Description=CommandBot
After=network.target

[Service]
WorkingDirectory=/home/koumakpet/CommandBot

Restart=on-failure

ExecStart=/usr/bin/screen -DmS CommandBot pipenv run start

[Install]
WantedBy=multi-user.target
